@import url('https://fonts.googleapis.com/css?family=Francois+One');

html
{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../assets/back3.png");
    background-size: contain;
    background-repeat: repeat;
}
body
{
    color: white;
    font-family: 'Francois One', sans-serif;
    cursor: url(../assets/cursor.png), auto;
}

#menu
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu-button
{
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 1em;
    width: 240px;
    border: 0px solid black;
    font-size: 1.75em;
    text-align: center;
    color: rgba(131, 131, 131, 0.904);
    background: radial-gradient(rgb(36, 3, 97),rgb(25, 7, 58));
    background-size: cover;
    background-repeat: no-repeat;
    transition: font-size .1s ease-in-out 0s, padding .1s ease-in-out 0s, background .1s ease-in-out 0s;
}


.menu-button:hover
{
    font-size: 2.5em;
    padding-top: .48em;
    padding-bottom: .47em;
    color: white;
    background: radial-gradient(rgb(74, 10, 192),rgb(29, 2, 80));
}

.grid
{
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.pagebuttons
{
    display: grid;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.level-button
{
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    display: block;
    padding-top: .7em;
    padding-bottom: .5em;
    width: 100%;
    border: 0px solid black;
    border-radius: 8px;
    font-size: 1.5em;
    text-align: center;
    color: rgba(185, 185, 185, 0.904);
    background: radial-gradient(rgb(65, 19, 150),rgb(38, 16, 99));
    background-repeat: repeat;
    background-size: cover;
    transition: font-size .1s ease-in-out 0s, padding .1s ease-in-out 0s, background .1s ease-in-out 0s;
}

.page-button
{
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    display: block;
    border-radius: 40px;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    border: 0px solid black;
    font-size: 1.5em;
    text-align: center;
    color: rgba(185, 185, 185, 0.904);
    background: radial-gradient(rgb(67, 26, 143),rgb(39, 16, 102));
    background-size: cover;
    background-repeat: no-repeat;
    transition: font-size .1s ease-in-out 0s, padding .1s ease-in-out 0s, background .1s ease-in-out 0s;
}

.backbutton
{
 display: block;
 width: 10%;
 margin: 0 auto;
 margin-top: 40px;
}

.dead
{
    color: rgba(77, 76, 76, 0.589) !important;
}

.level-button:hover
{
    color: white;
    background: radial-gradient(rgb(102, 63, 175),rgb(42, 22, 97));
    background-size: cover;
}

.page-button:hover
{
    color: white;
    
}

.title
{
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    margin-top: 10%;
    margin-bottom: 40px;
    width: 100%;
    align-items: stretch;
    height: 11em;
}

.title2
{
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    margin-top: 3%;
    margin-bottom: 10px;
    width: 100%;
    align-items: stretch;
    height: 6em;
}
h1{
    color: white;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8em;
    transition: font-size .3s ease-in-out 0s, color .3s ease-in-out 0s;
}

h2
{
    color: white;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5em;

    transition: font-size .2s ease-in-out 0s, color .2s ease-in-out 0s;
}
h1:hover{
    color: rgb(73, 71, 189);
    font-size: 10em;
}
h2:hover{
    color: rgb(73, 71, 189);
    font-size: 6em;
}

#board
{
    width: calc(75vw);
    height: calc(75vw * (17/40));
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}

.row
{
    display: flex;
}

.block
{
    display: block;
    background-image: url("../assets/fl.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.babymonster {
    background-image: url("../assets/bm1_w.png") !important;
}

.balloon {
    background-image: url("../assets/balloon.gif"), url("../assets/fl.png") !important;
}

.blank {
    background-image: url("../assets/blank.gif"), url("../assets/fl.png") !important;
}

.bomb {
    background-image: url("../assets/bomb.gif"), url("../assets/fl.png") !important;
}

.boom {
    background-image: url("../assets/boom.gif"), url("../assets/fl.png") !important;
}

.brickwall {
    background-image: url("../assets/brickwall.gif"), url("../assets/fl.png") !important;
}

.cage {
    background-image: url("../assets/cage.gif"), url("../assets/fl.png") !important;
}

.clock {
    background-image: url("../assets/clock.gif"), url("../assets/fl.png") !important;
}

.dirt {
    background-image: url("../assets/dirt.gif"), url("../assets/fl.png") !important;
}

.edge {
    background-image: url("../assets/edge.gif"), url("../assets/fl.png") !important;
}

.exit {
    background-image: url("../assets/blank.gif"), url("../assets/fl.png") !important;
}

.funkydirt {
    background-image: url("../assets/funkydirt.gif"), url("../assets/fl.png") !important;
}

.leftarrow {
    background-image: url("../assets/arl_w_00000.png") !important;
}

.leftupramp {
    background-image: url("../assets/leftupramp.gif"), url("../assets/fl.png") !important;
}

.money {
    background-image: url("../assets/ch.png"), url("../assets/fl.png") !important;
}

.monster {
    background-image: url("../assets/mo2.png"), url("../assets/fl.png") !important;
}

.player {
    background-image: url("../assets/he1.png"), url("../assets/fl.png") !important;
}

.poison {
    background-image: url("../assets/sp.png"), url("../assets/fl.png") !important;
}

.rightarrow {
    background-image: url("../assets/arrr_w_00000.png") !important;
}

.rightupramp {
    background-image: url("../assets/rightupramp.gif"), url("../assets/fl.png") !important;
}

.rock {
    background-image: url("../assets/rock.gif"), url("../assets/fl.png") !important;
}

.rug {
    background-image: url("../assets/rug.gif"), url("../assets/fl.png") !important;
}

.stonewall {
    background-image: url("../assets/wm.png"), url("../assets/fl.png") !important;
}

.teleportdestination {
    background-image: url("../assets/ld.png"), url("../assets/fl.png") !important;
}

.teleporter {
    background-image: url("../assets/ld.png"), url("../assets/fl.png") !important;
}

.wrappingedge {
    background-image: url("../assets/wrapping\ edge.gif"), url("../assets/fl.png") !important;
}

#footer
{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 10px;
}
a
{
    text-align: center;
    text-decoration: none;
    color: rgba(134, 134, 134, 0.747);
    font-size: 1em;
}
a:hover{
    color: white;
}

#top-bar
{
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background: url("../assets/back1.gif");
    background-size: cover;
    color: white;
}

#level-details
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
#level-title
{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.227);
}

#level-author
{
    font-size: 1em;
    color: rgba(160, 160, 160, 0);
    margin-top: 5px;
}

.about-page
{
    width: 60%;
    margin: 0 auto;
}

h4{
    font-size: 150%;
    color: rgba(255, 255, 255, 0.349);
}

h3{
    font-size: 250%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    color: white;
    text-decoration: underline;
}